{% load humanize %}

<div class="la-font" style="font-size: 16px">
    <h3 class="la-font" style="text-align:center;margin-top:0">ໃບຮັບເງິນ</h3>
    <p style="padding-left: 10px">ເລກທີ: {{ receipt.no }}</p>
    <div style="display:flex;justify-content: space-between">
        <p style="padding-left: 10px">ໂຕະ: {{ receipt.table.number }}</p>
        <p>ວັນທີ: {{ receipt.created_at|date:'d/m/Y' }}</p>
    </div>
    <table class="table">
        <tr>
            <th style="text-align:center;border-bottom:1px dotted #000;border-top:none!important" width="70%">
                ເມນູ
            </th>
            <th style="text-align:center;border-bottom:1px dotted #000;border-top:none!important" width="15%">
                ຈຳນວນ
            </th>
            <th style="text-align:center;border-bottom:1px dotted #000;border-top:none!important" width="10%">
                ລວມ
            </th>
        </tr>
        {% for detail in receipt.details %}
        <tr>
            <td style="text-align:center;border-bottom:1px dotted #000;border-top:none!important">
                {{ detail.menu.name }}
            </td>
            <td style="text-align:center;border-bottom:1px dotted #000;border-top:none!important">
                {{ detail.qty }} x {{ detail.price|intcomma }}
            </td>
            <td style="text-align:center;border-bottom:1px dotted #000;border-top:none!important">
                {{ detail.amount|intcomma }}
            </td>
        </tr>
        {% endfor %}

        <tr style="text-align:right;font-weight: 600;">
            <td colspan="5">
                <p>ລວມ: {{ receipt.subtotal|intcomma }} ກີບ</p>
                <p>ສ່ວນລຸດ: {{ receipt.get_discount }}</p>
                <p>ລາຄາທີ່ຕ້ອງຈ່າຍ: {{ receipt.total|intcomma }} ກີບ</p>
                <hr>
                <p style="margin-bottom: 5px;">ຊຳລະເງິນຜ່ານ:</p>
                <ul style="padding: 0;list-style: none;">
                    {% for payment in receipt.payments %}
                        <li>{{ payment.payment.name }}: {{ payment.amount|intcomma }} ກີບ</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</div>