{% extends 'home/base.html' %}

{% load humanize %}

{% block css %}
<style>
    @page  
    { 
        /* this affects the margin in the printer settings */ 
        margin: 2mm 2mm 2mm 2mm;  
    }

    .pagination a.active {
        background-color: #367fa9;
        color: #fff;
        border-color: #367fa9;
    } 
</style>
{% endblock css %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary la-font">
            <div class="box-header with-border">
                <h1 class="box-title la-font">ໃບອໍເດີ້</h1>
            </div>
            <div class="box-body table-responsive">
                <table class="table text-center">
                    <tr>
                        <th>ລຳດັບ</th>
                        <th>ເລກທີ</th>
                        <th>ໂຕະ</th>
                        <th>ຍອດລວມ</th>
                        <th>ວັນທີ</th>
                        <th>ເພີ່ມລາຍການໂດຍ</th>
                        <th width="10%">ສະຖານະ</th>
                        <!-- <th width="10%">ພິມໃບບິນ</th> -->
                        <!-- <th width="15%"></th> -->
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'order_detail' order.id %}">
                                {{ order.order_id }}
                            </a>
                        </td>
                        <td>{{ order.table.number }}</td>
                        <td>{{ order.total|intcomma }} ກີບ</td>
                        <td>{{ order.created_at|date:'Y/m/d' }}</td>
                        <td>{{ order.user }}</td>
                        <td>
                            {% if order.status == True %}
                            <button class="btn btn-success">ໄລ່ເງິນແລ້ວ</button>
                            {% else %}
                            <button class="btn btn-danger">ຍັງບໍ່ໄລ່ເງິນ</button>
                            {% endif %}
                        </td>
                        <!-- <td>
                            <button class="btn btn-primary" onclick="printReceipt('{{ order.id }}')">
                                <span style="margin-right: 2px;">
                                ພິມໃບບິນ
                                </span>
                                <i class="fa fa-fw fa-print"></i>
                            </button>
                        </td> -->
                        <!-- <td>
                            <a href="{% url 'order_update' order.id %}" class="btn btn-warning">
                                <i class="fa fa-fw fa-pencil"></i>
                            </a>
                            <a href="{% url 'order_detail' order.id %}" class="btn btn-primary">
                                <i class="fa fa-fw fa-eye"></i>
                            </a>
                            <a href="{% url 'order_delete' order.id %}" onclick="return deleteObj()" class="btn btn-danger">
                                <i class="fa fa-fw fa-trash"></i>
                            </a>
                        </td> -->
                    </tr>
                    {% endfor %}
                </table>
                {% if is_paginated %}
                    <ul class="pagination" style="margin-bottom: 0;">
                        {% if page_obj.has_previous %}
                            <li><a href="?page={{ page_obj.previous_page_number }}">«</a></li>
                        {% endif %}
                        {% for i in paginator.page_range %}
                            {% if page_obj.number == i %}
                                <li><a href="?page={{ i }}" class="active">{{ i }}</a></li>
                            {% else %}
                                <li><a href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}
                        {% if page_obj.has_next %}
                            <li><a href="?page={{ page_obj.next_page_number }}">»</a></li>
                        {% endif %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
<script>
    function deleteObj() {
        if (confirm('ແນ່ໃຈບໍ່ວ່າຕ້ອງການລົບ?')) {
            return true;
        } 
        return false;
    }

    // function printReceipt(orderId) {
    //     $.ajax({
    //         method: 'GET',
    //         url: '{% url "print_receipt" %}' + '?order_id=' + orderId
    //     }).then(response => {
    //         if (response.status === 'ok') {
    //             const oldHTML = document.querySelector('body').innerHTML;
    //             document.querySelector('body').innerHTML = response.html;
    //             window.print();
    //             document.querySelector('body').innerHTML = oldHTML;
    //         } 
    //     });
    // }
</script>
{% endblock script %}