{% extends 'home/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <div class="box box-primary la-font">
            <div class="box-header with-border">
                <h1 class="box-title la-font">ລາຍການຊ່ອງທາງການຊຳລະເງິນທັງໝົດ</h1>
                <a href="{% url 'payment_create' %}" class="btn btn-primary pull-right">ເພີ່ມຊ່ອງທາງການຊຳລະເງິນໃໝ່</a>
            </div>
            <div class="box-body table-responsive">
                <table class="table text-center">
                    <tr>
                        <th>ລຳດັບ</th>
                        <th>ຊ່ອງທາງການຊຳລະເງິນ</th>
                        <th width="20%"></th>
                    </tr>
                    {% for payment in payment_list %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ payment.name }}</td>
                        <td>
                            <a href="{% url 'payment_update' payment.id %}" class="btn btn-warning">
                                <i class="fa fa-fw fa-pencil"></i>
                            </a>
                            <a href="{% url 'payment_delete' payment.id %}" class="btn btn-danger">
                                <i class="fa fa-fw fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}